body {
  background-color: #0b3d2d;
  color: white;
}
h1 {
  text-align: center;
}
p {
  margin-top: 60px;
  font-family: 'Dancing Script', cursive;
  font-size: 16px;
  text-align: justify;
}
#owner_link {
  text-decoration: none;
  color: white;
  font-family: 'Dancing Script', cursive;
}